<!-- <div class="password-input-wrapper"> -->
    <mat-form-field         appearance="fill"    >
        <mat-label>{{ label }}</mat-label>
        <input matInput
        [disabled]="disabled"
        [errorStateMatcher]="matcher"
        (focusout)="onFocusOut()"
        (input)="onInput($event)"
        [required]="required"
        [value]="value"
        [type]="type"
 />    </mat-form-field>
 <mat-icon matSuffix (click)="onVisibilityClick($event)">{{ icon }}</mat-icon>

 <mat-error *ngIf="ngControl.invalid">{{ customErrorMessage }}</mat-error>

<!-- </div> -->
